<!DOCTYPE html>
<html lang="de" ng-app="knwmApp">

    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kulturnetzwerk Wedding Moabit</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/flexslider/flexslider.css">
        <link rel="stylesheet" href="/css/form-elements.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/media-queries.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/img/favicon.ico">
        

    </head>

    <body>
        
        <!-- Top menu -->
		<nav class="navbar" role="navigation"  >
		<div class="navbar-inner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="./img/logoknwm.png" height="60";></img> </a>
					<a class="navbar-brand zwei" href="/" style="color:white">Kulturnetzwerk Wedding Moabit</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
				<ul class="nav navbar-nav ">
				<li class="active nbv">
							<a href="/" ><i class="fa fa-video-camera fa-lg"></i></i><br>Liste</a>
						</li>
						<li>
							<a href="videoMap"><i class="fa fa-map-marker fa-lg"></i><br>Karte</a>
						</li>
					</ul>
					
				</div>
			</div>
			</div>
		</nav>

        <!-- Slider -->
        <div class="slider-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 slider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li >
                                   <iframe width="953" height="319" src="https://www.youtube.com/embed/FqKztjfaJ3g" frameborder="0" allowfullscreen></iframe>
                                    
                                </li>
                                <li >
                                       <iframe width="953" height="319" src="https://www.youtube.com/embed/bFA7LQ1011w" frameborder="0" allowfullscreen></iframe>
                        		 </li>
                                <li >
                                       <iframe width="953" height="319" src="https://www.youtube.com/embed/eutPwjHAQJo" frameborder="0" allowfullscreen></iframe>
                        		 </li>
                                <li >
                                       <iframe width="953" height="319" src="https://www.youtube.com/embed/tJemq4WMt24" frameborder="0" allowfullscreen></iframe>
                        		 </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Presentation -->
        <div class="presentation-container">
        	<div class="container">
        		<div class="row">
	        		<div class="col-sm-12 wow fadeInLeftBig">
	            		<h1>Neu hochgeladen</h1>
	            		<p>Nach Aktualität sortiert.</p>
	            	</div>
            	</div>
        	</div>
        </div>

        <!-- Services -->
        <div class="services-container">
	        <div class="container">
	            <div class="row" ng-controller="VideoCtrl">
	            <form>
	    
								
								<label>Nach Künstler filtern:</label>
					<select id="selectArtist" 
									ng-model="artists">
									<option value="Lisa" >Lisa und Kugel</option>
									<option value="Friedrich">Friedrich der Große</option>
									<option value="Mad">Mad Max</option>
									<option value="ALL">Kein Filter</option>
								</select>
								
								
								 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Nach Tags filtern:</label>
	            <select id="selectRole" ng-model="model">
								<option value="Moabit">Moabit</option>
								<option value="Wedding">Wedding</option>
								<option value="Berlin">Berlin</option>
								<option value="Konzert">Konzert</option>
								<option value="ALL">Kein Filter</option>
							</select>
							
					</form>		
	            	<div class="col-sm-3" ng-hide="model=='Wedding'||model=='Berlin'||model=='Konzert' ||artists=='Friedrich'||artists=='Mad'">
		                <div class="service wow fadeInUp">
		                 
                                       <iframe width="100%" height="100%" src="https://www.youtube.com/embed/romEePZWngs" frameborder="0" allowfullscreen></iframe>
                        		
		                </div>
					</div>
					<div class="col-sm-3" ng-hide="model=='Wedding'||model=='Berlin'||model=='Konzert' ||artists=='Lisa'||artists=='Mad'">
		                <div class="service wow fadeInDown">
		                                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-blCB-3dDMU" frameborder="0" allowfullscreen></iframe>
                        		
		                   </div>
	                </div>
	                <div class="col-sm-3" ng-hide="model=='Wedding'||model=='Moabit'||model=='Konzert' ||artists=='Lisa'||artists=='Mad'">
		                <div class="service wow fadeInUp">
		                           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2gbLKxrvGxo" frameborder="0" allowfullscreen></iframe>
                        		
		                    </div>
	                </div>
	                <div class="col-sm-3" ng-hide="model=='Wedding'||model=='Berlin'||model=='Moabit' ||artists=='Lisa'||artists=='Mad'">
		                <div class="service wow fadeInDown">
		                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tJemq4WMt24" frameborder="0" allowfullscreen></iframe>
                        		
		                 </div>
	                </div>
	                	<div class="col-sm-3" ng-hide="model=='Moabit'||model=='Berlin'||model=='Konzert' ||artists=='Friedrich'||artists=='Mad'">
		                <div class="service wow fadeInUp">
		                 
                                       <iframe width="100%" height="100%" src="https://www.youtube.com/embed/LUHmz1V3Hqs" frameborder="0" allowfullscreen></iframe>
                        		
		                </div>
					</div>
					<div class="col-sm-3" ng-hide="model=='Wedding'||model=='Berlin'||model=='Konzert' ||artists=='Lisa'||artists=='Friedrich'">
		                <div class="service wow fadeInDown">
		                                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8_dwf5LJXZ4" frameborder="0" allowfullscreen></iframe>
                        		
		                   </div>
	                </div>
	                <div class="col-sm-3" ng-hide="model=='Moabit'||model=='Berlin'||model=='Konzert' ||artists=='Lisa'||artists=='Friedrich'">
		                <div class="service wow fadeInUp">
		                           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bVLVLwg8h1k" frameborder="0" allowfullscreen></iframe>
                        		
		                    </div>
	                </div>
	                <div class="col-sm-3" ng-hide="model=='Wedding'||model=='Moabit'||model=='Konzert' ||artists=='Lisa'||artists=='Friedrich'">
		                <div class="service wow fadeInDown">
		                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/aCNf4T2EhUo" frameborder="0" allowfullscreen></iframe>
                        		
		                 </div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Latest work -->
        <div class="work-container">
	                <div class="container">
	                <div class="row">
		            <div class="col-sm-12 work-title wow fadeIn">
		                <h2>KNWM Youtube Kanal</h2>
		            </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-3">
		                <div class="service wow fadeInUp">
		                 
                                       <iframe width="100%" height="100%" src="https://www.youtube.com/embed/romEePZWngs" frameborder="0" allowfullscreen></iframe>
                        		
		                </div>
					</div>
					<div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-blCB-3dDMU" frameborder="0" allowfullscreen></iframe>
                        		
		                   </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="service wow fadeInUp">
		                           <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2gbLKxrvGxo" frameborder="0" allowfullscreen></iframe>
                        		
		                    </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tJemq4WMt24" frameborder="0" allowfullscreen></iframe>
                        		
		                 </div>
	                </div>
	          
	            </div>
	        </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>Live-Streams</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="testimonial-list">
	                	<div role="tabpanel">
	                		<!-- Tab panes -->
	                		<div class="tab-content ">
	                			<div role="tabpanel" class=" col-sm-5  tab-pane fade in active" id="tab1">
	                				<div class="testimonial-image" >
	                					<img src="/img/kamera.png" alt="" data-at2x="/img/kamera.png">
	                				</div>
	                				<div class="testimonial-text" style="padding-left:30px;">
	                				<h3>Beuth Hochschule</h3>
		                                <p>
		                                	  <iframe width="200px" height="200px" src="http://localhost:8081/stream.ogg" frameborder="0" allowfullscreen></iframe>
                        		
		                                </p>
		                                
	                                </div>
	                                
	                			</div>
	                			
	                			<div role="tabpanel" class="col-sm-5 tab-pane fade in active" id="tab1">
	                				<div class="testimonial-image">
	                					<img src="/img/kamera.png" alt="" data-at2x="/img/kamera.png">
	                				</div>
	                				<div class="testimonial-text" style="padding-left:30px;">
	                				<h3>Beuth Hochschule</h3>
		                                <p>
		                                	  <iframe width="200px" height="200px" src="http://localhost:8081/stream.ogg" frameborder="0" allowfullscreen></iframe>
                        		
		                                </p>
		                                
	                                </div>
	                                
	                			</div>
	                			
	                		</div>
	                		
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        <h4>Kulturnetzwerk Wedding Moabit</h4>
                        <div class="footer-box-text">
	                        <p>
	                        	Kulturnetzwerk Wedding & Moabit // jung, lokal und interdisziplinär // Kultur & Kunst </p>
	                        	<p><a href="http://kultur.knwm.de/">http://kultur.knwm.de/</a></p>
                        </div>
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInDown">
                        <h4>Newsletter</h4>
                        <div class="footer-box-text footer-box-text-subscribe">
                        	<p>Melde dich an:</p>
                        	<form id="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" name="mc-embedded-subscribe-form" method="post" action="//knwm.us3.list-manage.com/subscribe/post?u=9fb6a82fb4216bdb3d09ad455&id=32018ad4b4">
		                    	<div class="form-group">
		                    		<label class="sr-only" for="subscribe-email">Email address</label>
		                        	<input type="text" id="mce-EMAIL" class="email" type="email" value="" required="" name="EMAIL"placeholder="E-Mail-Adresse..." class="subscribe-email" id="subscribe-email">
		                        </div>
		                        <button type="submit" class="btn">Anmelden</button>
		                    </form>
		                    <p class="success-message"></p>
		                    <p class="error-message"></p>
                        </div>
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        <h4>Vernetze dich</h4>
                        <div class="footer-box-text"></div>
                        <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/kulturweddingmoabit" style="color: #ec008c; text-decoration: none;  font-size: 13px; font-weight: 400;">Facebook</a>
                        <br>
                        <i class="fa fa-twitter"></i> &nbsp;<a href="https://twitter.com/kultur_wm" style="color: #ec008c; text-decoration: none;  font-size: 13px; font-weight: 400;">Twitter</a>
            <br>
            <a href="http://kultur.knwm.de" style="color: #ec008c; text-decoration: none;  font-size: 13px; font-weight: 400;">Homepage</a>
          
          </div>
                    <div class="col-sm-3 footer-box wow fadeInDown">
                      <h4>Partner</h4>
                        <img src="/img/foerder1.png" width="50px"> <img src="/img/foerder2.png"  width="50px" alt="Kultur Mitte"> <img src="/img/foerder3.png" width="50px">
                         <br><img src="/img/foerder4.png" width="50px"> <img src="/img/foerder5.png" width="50px"> <img src="/img/foerder6.png" width="50px">
                    </div>
                </div>
                <div class="row">
                	<div class="col-sm-12 wow fadeIn">
                		<div class="footer-border"></div>
                	</div>
                </div>
                <div class="row">
                    <div class="col-sm-7 footer-copyright wow fadeIn">
                        <p>Copyright &copy; 2015 Kulturnetzwerk Wedding-Moabit </p>
                    </div>
                   
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="/js/jquery-1.11.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-hover-dropdown.min.js"></script>
        <script src="/js/jquery.backstretch.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/retina-1.1.0.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/flexslider/jquery.flexslider-min.js"></script>
        <script src="/js/jflickrfeed.min.js"></script>
        <script src="/js/masonry.pkgd.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/js/jquery.ui.map.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/oms.min.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/knwmapp.js"></script>

    </body>

</html>